:root{
  --black1:#090909;
  --black2:#121212;
  --black3:#1c1c1c;
  --black4:#262626;
  --black5:#303030;
  --black6:#3a3a3a;
  --black7:#434343;

  --gray1:#cecece;
  --gray2:#dbdbdb;
  --gray3:#e7e7e7;
  --gray4:#f4f4f4;

  --border:.4rem solid --gray1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
  background: white;
}
.box {
  text-align: center;
	width: 100%;
	display: block;
  margin-top: 15px;
}
.text {
  text-align: left;
  font-size: 26px;
  color: white;
  margin-top: 5px;
}
.profile {
  text-align: right;
  margin-top: 5px;
}
.container-fluid {
  background-color: #161616;
}
.container {
  position:relative
}
.welcome {
  text-align: center;
  padding-top: 70px;
}
.clickhere {
  text-align: right;
	color:#124d77;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  padding: 16px;
}

.btn{
   display: inline-block;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.8rem;
   color:var(--gray4);
   cursor: pointer;
   padding:1rem 3rem;
   background-color: var(--black2) ;
}

.btn:hover{
   color: var(--gray1);
   background-color: var(--black7) ;

}

/* log in/ register page*/

.container2{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 90vh;
   background-color: var(--gray4);
}

.container2 form{
   padding:2rem;
   border-radius: 1.5rem;
   border:var(--border);
   background-color: var(--gray2);
   width: 40rem; 
   text-align: center;
}

.container2 form h3{
   font-size: 2rem;
   color: var(--black1);
   margin-bottom: 1.5rem;
   background-color: var(--gray2);
}

.container2 form .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color: var(--black1);
   border:var(--border);
   background-color: var(--gray1);
   margin:1rem 0;
   border-radius: 1.5rem;
}

